header{
  background: #ffdab9;
  color: #fff;
  text-align: center;
}

ul{
  list-style: none;
}

.top-banner{
  display: flex;
  flex-wrap: wrap;
}

.top-banner li{
  width: calc(100％/2);
  padding:0 5px;
}

.top-banner li img{
  max-width: 50px;
 height: auto;
}




body{
  margin:0;
  font-size: 16px;
  font-family: Verdana, sans-serif;
  color: #333333;
}

.features img{
  width: 300px;
}

.btn{
  text-decoration: none;
  background: #fff;
  color: salmon;
  display: block;
  width: 140px;
  list-style: height 44px;
  margin: 40px auto 48px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 4px;
}

.btn:hover{
  opacity:0.9;
}

